
@import "./variable.scss";




ul{
    background-color: rgb(248, 248, 165);
 li{
    font-family:'Franklin Gothic Medium';
    }
}

ol{
font-family: $police;
}

body{
    h1, h3, h4{border:$bordureTitre;
        text-align: $placement;
    }
}

